<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyf.yummy.dao.MemberMapper">
  <resultMap id="BaseResultMap" type="com.xyf.yummy.entity.Member">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="level" jdbcType="INTEGER" property="level" typeHandler="com.xyf.yummy.typeHandler.MemLvTypeHandler" />
    <result column="validation" jdbcType="INTEGER" property="validation" typeHandler="com.xyf.yummy.typeHandler.MemValTypeHandler" />
    <collection property="addresses" column="id" fetchType="lazy" select="com.xyf.yummy.dao.AddressMapper.findAddressesByMemberId"/>
  </resultMap>
  <sql id="Base_Column_List">
    ${alias}.id, ${alias}.email, ${alias}.password, ${alias}.phone, ${alias}.name, ${alias}.level, ${alias}.validation
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List">
      <property name="alias" value="m"/>
    </include>
    from t_member m
    where m.id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_member
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xyf.yummy.entity.Member">
    insert into t_member (id, email, password, 
      phone, name, level, 
      validation
      )
    values (#{id,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{level,jdbcType=INTEGER,typeHandler=com.xyf.yummy.typeHandler.MemLvTypeHandler}, 
      #{validation,jdbcType=INTEGER,typeHandler=com.xyf.yummy.typeHandler.MemValTypeHandler}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xyf.yummy.entity.Member" useGeneratedKeys="true" keyProperty="id">
    insert into t_member
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="validation != null">
        validation,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER,typeHandler=com.xyf.yummy.typeHandler.MemLvTypeHandler},
      </if>
      <if test="validation != null">
        #{validation,jdbcType=INTEGER,typeHandler=com.xyf.yummy.typeHandler.MemValTypeHandler},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xyf.yummy.entity.Member">
    update t_member
    <set>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER,typeHandler=com.xyf.yummy.typeHandler.MemLvTypeHandler},
      </if>
      <if test="validation != null">
        validation = #{validation,jdbcType=INTEGER,typeHandler=com.xyf.yummy.typeHandler.MemValTypeHandler},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xyf.yummy.entity.Member">
    update t_member
    set email = #{email,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      level = #{level,jdbcType=INTEGER,typeHandler=com.xyf.yummy.typeHandler.MemLvTypeHandler},
      validation = #{validation,jdbcType=INTEGER,typeHandler=com.xyf.yummy.typeHandler.MemValTypeHandler}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <resultMap id="MemberValEnum" type="com.xyf.yummy.model.enums.MemValEnum">
    <result column="validation" typeHandler="com.xyf.yummy.typeHandler.MemValTypeHandler"/>
  </resultMap>

  <select id="checkAccount" parameterType="java.lang.String" resultMap="MemberValEnum">
    <!--to do-->
    select
    m.validation
    from t_member m
    where m.email=#{email,jdbcType=VARCHAR}
  </select>

  <select id="checkLogin" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List">
      <property name="alias" value="m"/>
    </include>
    from t_member m
    where m.email = #{email,jdbcType=VARCHAR} and
    m.password = #{password, jdbcType=VARCHAR} and
    m.validation = #{validation,jdbcType=INTEGER,typeHandler=com.xyf.yummy.typeHandler.MemValTypeHandler}
  </select>
  <select id="getIdByEmail" parameterType="java.lang.String" resultType="Integer">
    select
    m.id
    from t_member m
    where m.email = #{email,jdbcType=VARCHAR}
  </select>
  <update id="cancelAccount">
    update t_member
    set
    validation = #{validation,jdbcType=INTEGER,typeHandler=com.xyf.yummy.typeHandler.MemValTypeHandler}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getMemberOfOneValidation" parameterType="com.xyf.yummy.model.enums.MemValEnum" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List">
      <property name="alias" value="m"/>
    </include>
    from t_member m
    where m.validation = #{valEnum,jdbcType=INTEGER,typeHandler=com.xyf.yummy.typeHandler.MemValTypeHandler}
  </select>

  <select id="getMemberOfOneLevel" parameterType="com.xyf.yummy.model.enums.MemLvEnum" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List">
      <property name="alias" value="m"/>
    </include>
    from t_member m
    where m.level = #{lvEnum,jdbcType=INTEGER,typeHandler=com.xyf.yummy.typeHandler.MemLvTypeHandler}
  </select>

  <select id="getMostUsuallyMembers" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List">
      <property name="alias" value="m"/>
    </include>
    from t_member m, (
    select d.mem_id,count(d.id) as count from t_deal d where d.mer_id=#{mer_id,jdbcType=INTEGER} group by d.mem_id order by count desc limit 3
    ) c
    where m.id=c.mem_id
  </select>
</mapper>